body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #87CEEB, #000); /* Gradasi biru muda ke hitam */
    overflow: hidden;
}

.container {
    position: relative;
    width: 100vw; /* Lebar kontainer penuh */
    height: 100vh; /* Tinggi kontainer penuh */
}

.bola {
    width: 60px; /* Ukuran bola */
    height: 60px;
    background-color: #fff; /* Warna bola putih */
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.6s ease;
}

.partikel {
    position: absolute;
    pointer-events: none;
}

.partikel div {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    animation: partikel 0.5s forwards;
}

@keyframes partikel {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
